name: safe_click
description: A Flutter package to prevent double taps or rapid clicks.
version: 1.1.0

homepage: https://github.com/hasaanmk11/safe_click
repository: https://github.com/hasaanmk11/safe_click

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  # No assets or fonts needed for this package
